@{
    ViewBag.Title = "Home Page";
}

<input type="file" id="fileInput" onchange="fileChange(event)" class="input-file">
<div id="dropZone" class="drop-zone" onclick="dropZoneOnClick()">Нажмите, или перетащите файл сюда</div>

<div style="margin-top: 10px">
    <div>Колонка</div>
    <select id="column" class="column-selector form-control"></select>
    <div class="btn-group">
        <button type="button" class="btn btn-success" onclick="ProcessFile()">Обработка</button>
        <a href="~/Home/DownloadFile" target="_blank" class="btn btn-success" role="button">Скачать</a>
    </div>
</div>

<div style="margin-top: 10px">
    <div>
        <span>Количество вариантов: </span>
        <span id="variantsCount" class="badge">0</span>
    </div>
    <select id="variantsChoose" class="variants-choose form-control" size="10"></select>
    <div class="btn-group">
        <button type="button" class="btn btn-primary" onclick="Next()">Пропустить</button>
        <button type="button" class="btn btn-primary" onclick="Remove()">Исключить</button>
        <button type="button" class="btn btn-primary" onclick="AddValue()">Добавить</button>
    </div>
</div>


<div id="log" class="log"></div>    

@section scripts
    {
    <script src="~/Scripts/App.js"></script>
}