@{
    ViewBag.Title = "Home Page";
}

<input type="file" id="fileInput" onchange="fileChange(event)" accept=".xls,.xlsx" class="input-file">
<div id="dropZone" class="drop-zone background-blue border-blue border-radius" onclick="dropZoneOnClick()"><h5 class="title-text-blue title-text-first">Загрузить Excel-файл</h5></div>

<div style="margin-top: 10px">
    <div><h4 class="title-text-first" style="margin-bottom: 0; margin-top: 15px;">Выбрать колонку</h4></div>
    <select id="column" class="column-selector form-control border-blue border-radius"></select>
    <div style="margin-top: 2px;">
        <button id="btnProcessFile" type="button" class="btn btn-primary title-text-first" disabled="disabled" onclick="ProcessFile()">Начать корректировку наименований</button>
    </div>
</div>

<div style="margin-top: 10px">
    <table>
        <tr>
            <td class="first-column title-text-first text-align-center">
                <span>Варианты наименований в базе </span>
                <span id="variantsCount" >0</span>
                <span>из </span>
                <span id="variantsTotalCount" >0</span>
            </td>
            <td class="second-column">
                <h4 class="title-text-first text-align-center">Выбор базового наименования</h4>
            </td>
        </tr>

        <tr>
            <td class="first-column">
                <select id="variantsChoose" class="variants-choose form-control border-blue background-light-silver" style="display: inline-block" size="10" onclick="VariantClick(event)"></select>
            </td>
            <td class="second-column" style="vertical-align: top; padding: 0 0 0 10px;">
                <input id="baseNameInp" class="border-blue base-name-input" list="possibleBaseNames" type="search" placeholder="Выберите из списка или введите подходящий вариант" />
                <button type="button" class="btn btn-primary" style="margin-top: -5px" disabled="disabled" onclick="DeleteBaseName()" id="btnDeleteBaseName">Удалить</button>
                <datalist id="possibleBaseNames"></datalist>

                <div><h5 class="title-text-second">Ранее базовым считалось:</h5></div>
                <div style="margin: 10px 0; height: 20px"><a href="#" id="baseNameLnk" onclick="BaseNameClick(event)"></a></div>
                <div>Кликните на подходящее наименование, чтобы обозначить его за базовое. Либо выберите его из списка слева и нажмите кнопку «Добавить»</div>
            </td>
        </tr>

        <tr>
            <td style="padding-top: 10px;">
                <div class="flex justify-content-space-between">
                    <button type="button" class="btn btn-primary" disabled="disabled" onclick="Previous()" id="btnPrevious">&laquo; Предыдущий</button>

                    <button type="button" class="btn btn-primary" disabled="disabled" onclick="AddValue()" id="btnAddValue">Добавить</button>
                    <button type="button" class="btn btn-primary" disabled="disabled" onclick="Exclude()" id="btnExclude">Исключить</button>
                    <button type="button" class="btn btn-primary" disabled="disabled" onclick="Next()" id="btnNext">Следующий &raquo;</button>
                </div>
            </td>
            <td class="text-align-center" style="padding-top: 10px;">
                <a href="~/Home/DownloadLib" target="_blank" class="btn btn-primary" role="button">Скачать библиотеку наименований</a>
            </td>
        </tr>

        <tr>
            <td class="text-align-center" style="padding-top: 10px;">
                <button type="button" class="btn btn-primary" disabled="disabled" onclick="ShowExclusionsWindow()" id="btnExclusion">Необработанные варианты</button>
            </td>
        </tr>
        
    </table>
</div>

<div class="flex justify-content-center" style="margin-top: 15px;">
    <button type="button" class="btn btn-primary title-text-first" disabled="disabled" onclick="GetPrepareResult()" id="btnPrepareResult">Посмотреть результат</button>
    <a href="~/Home/DownloadFile" target="_blank" class="btn btn-primary disabled title-text-first" style="margin-left: 20px; width: 215px;" role="button" id="btnDownLoadFile">Скачать файл</a>
</div>

<div style="margin-top: 10px;">
    <div id="log" class="log background-light-silver">
        <div><h5 class="title-text-second text-align-center" style="color: #777;">Описание процесса</h5></div>
    </div>
</div>

@*Индикатор загрузки*@
<div class="overlap" id="overlapLoader">
    <div class="vertical-center">
        <div class="loader"></div>
    </div>
</div>

@*Окно предварительного результата*@
<div id="prepareResults" class="modal fade" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Результат замены</h4>
            </div>
            <div class="modal-body">
                <select id="prepareResultsList" class="form-control" size="10"></select>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Закрыть</button>
            </div>
        </div>

    </div>
</div>

@*Окно с необработанными вариантами*@
<div id="exclusionsWindow" class="modal fade modeless" data-keyboard="false" @*data-backdrop="static"*@ role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Необработанные наименования</h4>
            </div>
            <div class="modal-body">
                <select id="exclusionsList" class="form-control" size="10" multiple></select>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" onclick="MoveFromExcludeToVariants()">Добавить</button>
                <button type="button" class="btn btn-default" data-dismiss="modal">Закрыть</button>
            </div>
        </div>

    </div>
</div>


@section scripts
    {
    <script src="~/Scripts/App.js"></script>
}